#mess_quest_vide_dc1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_dc13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc25
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dc24
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_dc
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_dc1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dc23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_dc
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_dc
{
position:absolute;
top:-15px;
left:496px;
}