#Interface_acb1
{
width:99.8%;
height:413px;
position:absolute;
top:142px;
left:0px;
border:1px solid #ccc;
}
#mess_quest_vide_acb1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_acb13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_acb22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_acb
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_acb1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_acb22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_acb
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_acb
{
position:absolute;
top:-15px;
left:496px;
}