#Interface_acb
{
width:100%;
height:413px;
position:absolute;
top:120px;
left:0px;
border:1px solid #ccc;
}
#Interface_acb_Sup
{
width:801px;
height:555px;
position:absolute;
top:89px;
left:10px;
border:1px solid #ccc;
}
#Interface_Question_acb_Superviseur
{
width:71%;
height:40px;
position:absolute;
top:40px;
left:1px;
}
#Interface_Question_acb
{
width:85%;
height:343px;
position:absolute;
top:65px;
left:0px;
overflow:auto;
}
#frm_tab_res_b
{
width:85%;
height:350px;
position:absolute;
top:60px;
left:0px;
overflow:auto;
display: block;
}
#table_questionnaire_acb
{
overflow:auto;
width:1088px;
height:516px;
}
#table_questionnaire_acb_Sup
{
overflow:auto;
width:108%;
height:475px;
}
#Int_Synthese_acb
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Interface_Synthese_acb
{
width:100%;
height:285px;
position:relative;
left:623px;
top:-1px;
}
#Interface_Synthese_acb_Audit
{
width:310px;
height:285px;
border:1px solid #ccc;
float:right;
position:relative;
}
#Interface_Conclusion_acb_Audit
{
width:310px;
height:35px;
position:absolute;
border:1px solid #ccc;
right:0px;
top:320px;
}
#int_conclusion_acb_superviseur
{
width:500px;
height:400px;
position:absolute;
top:60px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;

}
#Int_Droite_acb
{
width:155px;
height:400px;
float:right;
border:1px solid #ccc;
right:0px;
position:absolute;
top:0px;
}
#Question_acb_1
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_2
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_3
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_4
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_5
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_6
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_7
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_8
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_9
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_10
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_11
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_12
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_13
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_14
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_15
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_16
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_17
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_18
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_19
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_20
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_21
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_22
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_acb_23
{
width:500px;
height:425px;
position:absolute;
top:-20px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#fermeture_Icone_Question_acb
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
}
#fermer_Synthese_acb
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycleAchat/img/Fermer.png');
}
#fermer_Conclusion_acb_sup
{
width:30px;
height:30px;
background-image:url('../../../cycleAchat/img/Fermer.png');
position:absolute;
top:-18px;
left:487px;
}
#fancybox_acb
{
width:100%;
height:410px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:0px;
left:0px;
display:none;
}
