#mess_quest_vide_stc1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_stc13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stc23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_stc
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_stc1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stc23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_stc
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_stc
{
position:absolute;
top:-15px;
left:496px;
}