#mess_quest_vide_stb1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_stb13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_stb23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_stb
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_stb1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_stb23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_stb
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_stb
{
position:absolute;
top:-15px;
left:496px;
}