#mess_quest_vide_dd1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_dd13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd25
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_dd24
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_dd
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_dd1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_dd23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_dd
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_dd
{
position:absolute;
top:-15px;
left:496px;
}