#mess_quest_vide_re1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_re13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_re23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_re
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_re1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_re23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_re
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_re
{
position:absolute;
top:-15px;
left:496px;
}