#mess_quest_vide_pb1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_pb13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pb23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_pb
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_pb1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pb23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_pb
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_pb
{
position:absolute;
top:-15px;
left:496px;
}