#Interface_pb
{
width:100%;
height:413px;
position:absolute;
top:120px;
left:0px;
border:1px solid #ccc;
}
#Interface_pb_Sup
{
width:801px;
height:555px;
position:absolute;
top:89px;
left:10px;
border:1px solid #ccc;
}
#Interface_Question_pb_Superviseur
{
width:730px;
height:40px;
position:absolute;
top:55px;
left:1px;
}
#Interface_Question_pb
{
width:85%;
height:343px;
position:absolute;
top:65px;
left:0px;
overflow:auto;
}
#frm_tab_res_pb
{
width:85%;
height:350px;
position:absolute;
top:60px;
left:0px;
overflow:auto;
display:none;
}
#table_questionnaire_pb
{
overflow:auto;
width:1088px;
height:516px;
}
#table_questionnaire_pb_Sup
{
overflow:auto;
width:108%;
height:475px;
}
#Int_Synthese_pb
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Interface_Synthese_pb
{
width:100%;
height:285px;
position:relative;
left:623px;
top:-1px;
}
#Interface_Synthese_pb_Audit
{
width:310px;
height:285px;
border:1px solid #ccc;
float:right;
position:relative;
}
#Interface_Conclusion_pb_Audit
{
width:310px;
height:35px;
position:absolute;
border:1px solid #ccc;
right:0px;
top:355px;
}
#int_conclusion_pb_superviseur
{
width:500px;
height:400px;
position:absolute;
top:60px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;

}
#Int_Droite_pb
{
width:155px;
height:400px;
float:right;
border:1px solid #ccc;
right:0px;
position:absolute;
top:0px;
}
#Question_pb_181
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_182
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_183
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_184
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_185
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_186
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_187
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_188
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_189
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_190
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_191
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_192
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_193
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_194
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_195
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_196
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_133
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_pb_134
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#fermeture_Icone_Question_pb
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
}
#fermer_Synthese_pb
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycleAchat/img/Fermer.png');
}
#fermer_Conclusion_pb_sup
{
width:30px;
height:30px;
background-image:url('../../../cycleAchat/img/Fermer.png');
position:absolute;
top:-18px;
left:487px;
}
#fancybox_pb
{
width:100%;
height:412px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:0px;
left:0px;
display:none;
}
