#mess_quest_vide_c1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_c11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_c1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_c11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_conclus_vide_c
{
position:absolute;
top:-15px;
left:496px;
}