#mess_quest_vide_e1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_e9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_d10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_d11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_d12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_e1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_e9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_d10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_d11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_d12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_conclus_vide_e
{
position:absolute;
top:-15px;
left:496px;
}