#Interface_e
{
width:100%;
height:413px;
position:absolute;
top:120px;
left:0px;
border:1px solid #ccc;
}
#Interface_e_Sup
{
width:801px;
height:555px;
position:absolute;
top:89px;
left:10px;
border:1px solid #ccc;
}
#Interface_Question_e_Superviseur
{
width:730px;
height:40px;
position:absolute;
top:55px;
left:1px;
}
#Interface_Question_e
{
width:85%;
height:343px;
position:absolute;
top:65px;
left:0px;
overflow:auto;
}
#frm_tab_res_e
{
width:85%;
height:350px;
position:absolute;
top:60px;
left:0px;
overflow:auto;
display:block;
}
#table_questionnaire_e
{
overflow:auto;
width:1088px;
height:516px;
}
#table_questionnaire_e_Sup
{
overflow:auto;
width:108%;
height:475px;
}
#Int_Synthese_e
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Interface_Synthese_e
{
width:100%;
height:285px;
position:relative;
left:623px;
top:-1px;
}
#Interface_Synthese_e_Audit
{
width:310px;
height:285px;
border:1px solid #ccc;
float:right;
position:relative;
}
#Interface_Conclusion_e_Audit
{
width:310px;
height:35px;
position:absolute;
border:1px solid #ccc;
right:0px;
top:355px;
}
#int_conclusion_e_superviseur
{
width:500px;
height:400px;
position:absolute;
top:60px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;

}
#Int_Droite_e
{
width:155px;
height:400px;
float:right;
border:1px solid #ccc;
right:0px;
position:absolute;
top:0px;
}
#Question_e_46
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_47
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_48
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_49
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_50
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_51
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_52
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_53
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_e_54
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_d_43
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_d_44
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_d_45
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#fermeture_Icone_Question_e
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
}
#fermer_Synthese_e
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycleAchat/img/Fermer.png');
}
#fermer_Conclusion_e_sup
{
width:30px;
height:30px;
background-image:url('../../../cycleAchat/img/Fermer.png');
position:absolute;
top:-18px;
left:487px;
}
#fancybox_e
{
width:100%;
height:412px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:0px;
left:0px;
display:none;
}
/*#fancybox_bouton_d
{
width:309px;
height:35px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:320px;
left:735px;
display:none;
}*/