#Interface_vd
{
width:100%;
height:413px;
position:absolute;
top:120px;
left:0px;
border:1px solid #ccc;
}
#Interface_vd_Sup
{
width:801px;
height:555px;
position:absolute;
top:89px;
left:10px;
border:1px solid #ccc;
}
#Interface_Question_vd_Superviseur
{
width:730px;
height:40px;
position:absolute;
top:55px;
left:1px;
}
#Interface_Question_vd
{
width:85%;
height:343px;
position:absolute;
top:65px;
left:0px;
overflow:auto;
}
#frm_tab_res_vd
{
width:85%;
height:350px;
position:absolute;
top:60px;
left:0px;
overflow:auto;
display:none;
}
#table_questionnaire_vd
{
overflow:auto;
width:1088px;
height:516px;
}
#table_questionnaire_vd_Sup
{
overflow:auto;
width:108%;
height:475px;
}
#Int_Synthese_vd
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Interface_Synthese_vd
{
width:100%;
height:285px;
position:relative;
left:623px;
top:-1px;
}
#Interface_Synthese_vd_Audit
{
width:310px;
height:285px;
border:1px solid #ccc;
float:right;
position:relative;
}
#Interface_Conclusion_vd_Audit
{
width:310px;
height:35px;
position:absolute;
border:1px solid #ccc;
right:0px;
top:355px;
}
#int_conclusion_vd_superviseur
{
width:500px;
height:400px;
position:absolute;
top:60px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;

}
#Int_Droite_vd
{
width:155px;
height:400px;
float:right;
border:1px solid #ccc;
right:0px;
position:absolute;
top:0px;
}
#Question_vd_351
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_352
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_353
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_354
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_355
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_356
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_357
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_358
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_359
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_360
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_361
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_362
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_363
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_364
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_365
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_366
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_367
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_368
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_369
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_370
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_371
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_372
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_373
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_374
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_375
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_376
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_377
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_378
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_379
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_380
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_381
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_382
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_383
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_384
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_vd_385
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#fermeture_Icone_Question_vd
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
}
#fermer_Synthese_vd
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycleAchat/img/Fermer.png');
}
#fermer_Conclusion_vd_sup
{
width:30px;
height:30px;
background-image:url('../../../cycleAchat/img/Fermer.png');
position:absolute;
top:-18px;
left:487px;
}
#fancybox_vd
{
width:100%;
height:412px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:0px;
left:0px;
display:none;
}
