#mess_quest_vide_vd1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_vd13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd24
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd25
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd26
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd27
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd28
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd29
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd30
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd31
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd32
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd33
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd34
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vd35
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_vd
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_vd1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd24
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd25
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd26
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd27
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd28
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd29
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd30
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd31
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd32
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd33
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd34
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vd35
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_vd
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_vd
{
position:absolute;
top:-15px;
left:496px;
}