#mess_quest_vide_imb1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_imb13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_imb23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_imb
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_imb1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_imb23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_imb
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_imb
{
position:absolute;
top:-15px;
left:496px;
}