#mess_quest_vide_vb1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_vb13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vb23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_vb
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_vb1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vb23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_vb
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_vb
{
position:absolute;
top:-15px;
left:496px;
}