#mess_quest_vide_vc1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_vc13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vc23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_vc
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_vc1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vc23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_vc
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_vc
{
position:absolute;
top:-15px;
left:496px;
}