#mess_quest_vide_pd1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_pd13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pd23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_pd
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_pd1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pd23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_pd
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_pd
{
position:absolute;
top:-15px;
left:496px;
}