#mess_quest_vide_vf1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_vf13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_vf23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_vf
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_vf1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_vf23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_vf
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_vf
{
position:absolute;
top:-15px;
left:496px;
}