#mess_quest_vide_std1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_std13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_std23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_std
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_std1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_std23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_std
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_std
{
position:absolute;
top:-15px;
left:496px;
}