#mess_quest_vide_ve1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_ve13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ve23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_ve
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_ve1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ve23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_ve
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_ve
{
position:absolute;
top:-15px;
left:496px;
}