#mess_quest_vide_rd1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_rd13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rd23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_rd
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_rd1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rd23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_rd
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_rd
{
position:absolute;
top:-15px;
left:496px;
}