#Interface_rd
{
width:100%;
height:413px;
position:absolute;
top:120px;
left:0px;
border:1px solid #ccc;
}
#Interface_rd_Sup
{
width:801px;
height:555px;
position:absolute;
top:89px;
left:10px;
border:1px solid #ccc;
}
#Interface_Question_rd_Superviseur
{
width:730px;
height:40px;
position:absolute;
top:55px;
left:1px;
}
#Interface_Question_rd
{
width:85%;
height:343px;
position:absolute;
top:65px;
left:0px;
overflow:auto;
}
#frm_tab_res_rd
{
width:85%;
height:350px;
position:absolute;
top:60px;
left:0px;
overflow:auto;
display:none;
}
#table_questionnaire_rd
{
overflow:auto;
width:1088px;
height:516px;
}
#table_questionnaire_rd_Sup
{
overflow:auto;
width:108%;
height:475px;
}
#Int_Synthese_rd
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Interface_Synthese_rd
{
width:100%;
height:285px;
position:relative;
left:623px;
top:-1px;
}
#Interface_Synthese_rd_Audit
{
width:310px;
height:285px;
border:1px solid #ccc;
float:right;
position:relative;
}
#Interface_Conclusion_rd_Audit
{
width:310px;
height:35px;
position:absolute;
border:1px solid #ccc;
right:0px;
top:355px;
}
#int_conclusion_rd_superviseur
{
width:500px;
height:400px;
position:absolute;
top:60px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;

}
#Int_Droite_rd
{
width:155px;
height:400px;
float:right;
border:1px solid #ccc;
right:0px;
position:absolute;
top:0px;
}
#Question_rd_264
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_265
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_266
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_267
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_268
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_269
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_270
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_271
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_189
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_190
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_191
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_192
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_193
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_194
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_272
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_196
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_133
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rd_134
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#fermeture_Icone_Question_rd
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
}
#fermer_Synthese_rd
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycleAchat/img/Fermer.png');
}
#fermer_Conclusion_rd_sup
{
width:30px;
height:30px;
background-image:url('../../../cycleAchat/img/Fermer.png');
position:absolute;
top:-18px;
left:487px;
}
#fancybox_rd
{
width:100%;
height:412px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:0px;
left:0px;
display:none;
}
