#mess_quest_vide_pc1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_pc13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc26
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc25
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pc24
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_pc
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_pc1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pc23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_pc
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_pc
{
position:absolute;
top:-15px;
left:496px;
}