#mess_quest_vide_ev1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_ev13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev26
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev25
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_ev24, #mess_quest_vide_ev25,#mess_quest_vide_ev26, #mess_quest_vide_ev27 
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_ev
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_ev1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_ev23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_ev
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_ev
{
position:absolute;
top:-15px;
left:496px;
}