#mess_quest_vide_pe1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_pe13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_pe23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_pe
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_pe1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_pe23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_pe
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_pe
{
position:absolute;
top:-15px;
left:496px;
}