#mess_quest_vide_B1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_B22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:369px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide 
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_B22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_conclus_vide_B
{
position:absolute;
top:-15px;
left:496px;
}