#fermer_Synthese_da
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycle_achat_image/Fermer.png');
}
#fermer_Conclusion_da
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycle_achat_image/Fermer.png');
}
#fancybox_sup_btn
{
width:400px;
height:40px;
position:absolute;
top:356px;
left:688px;
background-image:url('../../../cycle_achat_image/fancybox_sup.png');
display:none;
border:2px solid #ccc;
}
#interface_a_Superviseur_Droite
{
width:400px;
height:285px;
/*position:absolute;
top:0px;
left:780px;*/
border:1px solid #ccc;
}
#interface_a_Superviseur_Droite_Bas
{
width:400px;
height:35px;
/*position:absolute;
top:290px;
left:780px;*/
border:1px solid #ccc;
}
.label tbody tr{
 	height: 10px;
 }