#mess_quest_vide_f1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_f13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_f15
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_f1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_f15
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_conclus_vide_f
{
position:absolute;
top:-15px;
left:496px;
}