#Interface_rc
{
width:100%;
height:413px;
position:absolute;
top:120px;
left:0px;
border:1px solid #ccc;
}
#Interface_rc_Sup
{
width:801px;
height:555px;
position:absolute;
top:89px;
left:10px;
border:1px solid #ccc;
}
#Interface_Question_rc_Superviseur
{
width:730px;
height:40px;
position:absolute;
top:55px;
left:1px;
}
#Interface_Question_rc
{
width:85%;
height:343px;
position:absolute;
top:65px;
left:0px;
overflow:auto;
}
#frm_tab_res_rc
{
width:85%;
height:350px;
position:absolute;
top:60px;
left:0px;
overflow:auto;
display:none;
}
#table_questionnaire_rc
{
overflow:auto;
width:1088px;
height:516px;
}
#table_questionnaire_rc_Sup
{
overflow:auto;
width:108%;
height:475px;
}
#Int_Synthese_rc
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Interface_Synthese_rc
{
width:100%;
height:285px;
position:relative;
left:623px;
top:-1px;
}
#Interface_Synthese_rc_Audit
{
width:310px;
height:285px;
border:1px solid #ccc;
float:right;
position:relative;
}
#Interface_Conclusion_rc_Audit
{
width:310px;
height:35px;
position:absolute;
border:1px solid #ccc;
right:0px;
top:320px;
}
#int_conclusion_rc_superviseur
{
width:500px;
height:400px;
position:absolute;
top:60px;
left:370px;
background-color:#00698d;
border:5px solid #fff;
display:none;

}
#Int_Droite_rc
{
width:155px;
height:400px;
float:right;
border:1px solid #ccc;
right:0px;
position:absolute;
top:0px;
}
#Question_rc_255
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_256
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_257
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_258
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_259
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_260
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_261
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_262
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_189
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_190
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_191
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_192
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_193
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_194
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_263
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_196
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_133
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#Question_rc_134
{
width:500px;
height:425px;
position:absolute;
top:0px;
left:270px;
background-color:#00698d;
border:5px solid #fff;
display:none;
}
#fermeture_Icone_Question_rc
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
}
#fermer_Synthese_rc
{
width:30px;
height:30px;
position:absolute;
top:-18px;
left:487px;
background-image:url('../../../cycleAchat/img/Fermer.png');
}
#fermer_Conclusion_rc_sup
{
width:30px;
height:30px;
background-image:url('../../../cycleAchat/img/Fermer.png');
position:absolute;
top:-18px;
left:487px;
}
#fancybox_rc
{
width:100%;
height:412px;
background-image:url('../../../cycleAchat/img/fancybox.png');
position:absolute;
top:0px;
left:0px;
display:none;
}
