#mess_quest_vide_rc1
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc2
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc3
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc4
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc5
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc6
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc7
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc8
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc10
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc11
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc12
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}

#mess_quest_vide_rc13
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc14
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc9
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc16
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc17
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc18
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc19
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc20
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc21
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc22
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_quest_vide_rc23
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_empty_conclus_rc
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#mess_conclus_vide
{
width:510px;
height:100px;
position:absolute;
top:108px;
left:270px;
border:1px solid #ccc;
box-shadow:0px 0px 10px #000;
display:none;
background-color:white;
}
#fermer_mess_quest_vide_rc1
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc2
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc3
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc4
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc5
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc6
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc7
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc8
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc10
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc11
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc12
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc13
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc14
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc9
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc16
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc17
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc18
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc19
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc20
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc21
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc22
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_quest_vide_rc23
{
position:absolute;
top:-15px;
left:496px;
}
#fermer_mess_empty_conclus_rc
{
position:absolute;
top:-15px;
left:496px;
}f
#fermer_mess_conclus_vide_rc
{
position:absolute;
top:-15px;
left:496px;
}